<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770338499772-phon7lhac8oraeekqgsnr28a4c8sbeib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770338499772-phon7lhac8oraeekqgsnr28a4c8sbeib</string>
	<key>API_KEY</key>
	<string>AIzaSyC9JK9CoC1_AUDDb7T9A4koNGWAe-nWwI8</string>
	<key>GCM_SENDER_ID</key>
	<string>770338499772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notificacionApp</string>
	<key>PROJECT_ID</key>
	<string>noti-app-fe161</string>
	<key>STORAGE_BUCKET</key>
	<string>noti-app-fe161.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770338499772:ios:bfe12186e40d408fb434b9</string>
</dict>
</plist>